<div class="main container-fluid mx-auto pt-5 pb-5">
  <div class="profil container">
    <div class="row gx-5">
      <div class="col-4 col-xs-4 d-flex align-items-center">
        <img class="rounded-circle imgProfil" [style.background-image]="'url(' + user.profilImage + ')'">
      </div>
      <div class="col-8 mb-2 d-sm-none d-flex align-items-center">
        <p class="pseudo">{{ user.pseudo }}</p>
      </div>
      <div class="col-12 col-sm-8 mt-3 mt-sm-0">
        <div class="row h-100">
          <div class="col-12 mb-2 d-none d-sm-block">
            <p class="pseudo">{{ user.pseudo }}</p>
          </div>
          <div class="col-4 text-center">
            <span class="fw-bold">{{ imageLength }}</span>
            <br>
            <span class="secondTitleNumber">Publications</span>
          </div>
          <div class="col-4 text-center">
            <span class="fw-bold">{{ user.followers.length }}</span>
            <br>
            <span class="secondTitleNumber">Followers</span>
          </div>
          <div class="col-4 text-center">
            <span class="fw-bold">{{ user.follows.length }}</span>
            <br>
            <span class="secondTitleNumber">Suivi(e)s</span>
          </div>
          <div class="col-12 firstnameLastname mt-3 mb-2 ">{{ user.firstName }} {{ user.lastName }}</div>
          <div class="col-12">{{ user.bio }}</div>
          <div class="col-12" *ngIf="isUserCo">
            <button class="btn btn-secondary w-100 btn-sm mt-2" routerLink="/user/edit-profil">
              Modifier le profil
            </button>
          </div>
          <div class="col-12 d-flex justify-content-evenly" *ngIf="!isUserCo">
            <div *ngIf="errorMessage !== ''">
              <div class="alert alert-danger mx-auto" role="alert">
                <i class="bi bi-exclamation-triangle" style="font-size: 1.05rem"></i>
                {{ errorMessage }}
              </div>
            </div>

            <button class="btn btn-secondary w-25 btn-sm mt-2" (click)="sendChat(user.id)">
              Ecrire
            </button>

            <button class="btn btn-secondary w-25 btn-sm mt-2" (click)="onFollowUser()">
              <span *ngIf="!user.followers.includes(userId)">
                Follow
              </span>
              <span *ngIf="user.followers.includes(userId)">
                Unfollow
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container border mt-5" >
    <div class="row gy-5 py-5" >
      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let image of images">
        <img [src]="image.path" style="height: 300px; width : 300px" >
      </div>
    </div>
  </div>
</div>
