<div class="main container-fluid mx-auto pt-5 pb-5">
  <div class="profil container">
    <div class="row">
      <div class="col-4 text-center">
        <div class="imgProfil" [style.background-image]="'url(' + user.profilImage+ ')'">
        </div>
        <!-- <img
          [src]="user.profilImage"
          alt="image"
          class="rounded-circle imgProfil"
        /> -->
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <p class="fw-bold firstAndLastname">{{ user.firstName }} {{ user.lastName }}</p>
          </div>
          <div class="col-4">{{ images.length }} photos</div>
          <div class="col-4">{{ user.follows.length }} follows</div>
          <div class="col-4">{{ user.followers.length }} followers</div>
          <div class="col-12">{{ user.pseudo }}</div>
          <div class="col-12">{{ user.bio }}</div>
          <div class="col-12">
            <button
              class="btn btn-secondary btn-sm"
              routerLink="/user/edit-profil"
            >
              Modifier le profil
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container border mt-5" >
    <div class="row gy-5 py-5" >
      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let image of images">
        <img [src]="image.path" style="height: 300px; width : 300px" >
      </div>
    </div>
  </div>
</div>
