.imgProfil {
  width: 90px;
  height: 90px;
  object-fit: cover;
  background-size: cover;
  background-position: center;

  @media (min-width: 425px) {
    width: 120px;
    height: 120px;
  }

  @media (min-width: 575px) {
    width: 135px;
    height: 135px;
  }

  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 180px;
    height: 180px;
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 250px;
    height: 250px;
  }
}

.pseudo {
  letter-spacing: 0.1rem;
  font-size: 20px;
  font-weight: 700;
}
.firstnameLastname {
  font-size: 15px;
}

::ng-deep .cdk-overlay-pane {
  width: 300px;
  max-width: none !important;
  text-align: center;
}
.btnProfil {
  .btn {
    @media (min-width: 375px) {
      width: 25% !important;
    }
  }
}

.ifUserCo {
  .btnQrcode {
    width: 48%;
    @media (min-width: 992px) {
      width: 24% !important;
    }
  }
  .btnEdit {
    width: 48%;
    @media (min-width: 992px) {
      width: 74% !important;
    }
  }
}
