<div class="row">
  <div class="col d-flex justify-content-between">
    <h1 mat-dialog-title>Comments</h1>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Quitter</button>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div style="height: 450px; overflow-y: scroll; overflow-x: hidden">
    <div *ngFor="let comment of image.comments.sort(this.compareComment)">
      <div class="row">
        <div class="col-10">
          <strong tyle="white-space: nowrap">{{ comment.fullName }}</strong>
          <p>
            {{ comment.comment }}
            <br />
            <small style="white-space: nowrap">
              {{ comment.createDate.toDate() | date: "dd / MM / yyyy" }}
            </small>
          </p>
        </div>
        <div
          class="col-2 text-end pe-4"
          *ngIf="comment.userId === currentUser.id"
        >
          <i
            class="bi bi-trash"
            (click)="deleteComment(comment)"
            style="cursor: pointer"
          ></i>
        </div>
        <div class="col-1" *ngIf="comment.userId === currentUser.id">
          <i class="bi bi-trash" (click)="deleteComment(comment)" style="cursor: pointer"></i>
        </div>
      </div>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" class="mt-5">
    <mat-error *ngIf="comment.hasError('minlength')">
      150 caractères maximum
    </mat-error>
    <div class="input-group">
      <input
        type="text"
        placeholder="150 caractères maximum..."
        class="form-control"
        maxlength="150"
        [formControl]="comment"
        #commentInput
      />
      <button class="btn btn-outline-secondary" type="submit">Envoyer</button>
    </div>
  </form>
</div>
