.mainContainer {
  background-color: rgb(250, 250, 250);
  height: 100%;
  overflow: hidden;
  width: 100%;
  .mainRow {
    max-width: 350px;
    .colCard,
    .colCardSecond {
      background: rgb(250, 250, 250);
      border: 0;
      @media (min-width: 425.98px) {
        border-radius: 5px;
        border: 1px solid rgb(219, 219, 219);
        background: white;
      }
    }
    .colCardSecond {
      white-space: nowrap;
      @media (max-width: 425.98px) {
        font-size: 15px;
      }
      .redirect {
        color: blue;
        cursor: pointer;
      }
    }
  }
  .redirectRegister{
    cursor: pointer;
  }
  mat-form-field.mat-form-field {
    width: 90%;
    font-size: 13px;
  }
}
