<div class="mainContainer d-flex align-items-center justify-content-center">
  <div class="row text-center mainRow">
    <div class="colCard col-12 p-3">
      <div class="my-4 mx-2">
        <h1 class="iconLock mb-4"><i class="bi bi-shield-lock" style="font-size: 8rem;"></i></h1>
        <h2>Problèmes de connexion ?</h2>
        <p class="text-secondary fw-bold mb-3">
          Entrez votre adresse e-mail et nous vous enverrons un lien pour récupérer votre compte.
        </p>
        <div class="alert alert-danger mx-auto" *ngIf="errorMessage !== ''" role="alert">
          <i class="bi bi-exclamation-triangle" style="font-size: 1.05rem"></i>
          {{ errorMessage }}
        </div>
        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" class="mt-2">
          <mat-form-field appearance="fill">
            <mat-label>Entrez votre adresse email</mat-label>
            <input matInput placeholder="toto@example.com" formControlName="email" required />
            <mat-error *ngIf="passwordResetForm.hasError('required', 'email')">
              Veuillez entrez une adresse mail
            </mat-error>
            <mat-error *ngIf="passwordResetForm.hasError('email', 'email')">
              Veuillez entrer une adresse valide
            </mat-error>
          </mat-form-field>

          <button mat-raised-button type="submit" color="primary" [disabled]="!passwordResetForm.valid">
            Envoyer
          </button>
        </form>
        <div class="my-2">
          ou
        </div>
        <div class="createAccount">
          <span class="redirectRegister" routerLink="/register">Créer un compte</span>
        </div>
      </div>
    </div>
    <div class="colCardSecond col-12 mt-3 p-3">
      <span>Revenir à l'écran de <span routerLink="/login" class="redirect">connexion</span></span>
    </div>
  </div>
</div>
