<ng-container *ngIf="showCamera">
  <div class="videoContainer d-flex align-items-center justify-content-center" *ngIf="!takePhotoClick">
    <div class="container">
        <div class="text-center">
          <video #videoPlayer>
          </video>
        </div>
        <div class="col-12 text-center">
          <button (click)="start()" class="btn btn-outline-secondary flex mx-2">
            <i class="bi bi-camera-video"></i>
            <p class="d-none d-md-block">start</p>
          </button>
          <button (click)="stop()" class="btn btn-outline-secondary flex mx-2">
            <i class="bi bi-camera-video-off"></i>
            <p class="d-none d-md-block">Stop</p>
          </button>
          <button (click)="switchCamera()" class="btn btn-outline-secondary flex mx-2">
            <i class="bi bi-camera2"></i>
            <p class="d-none d-md-block">Switch Camera</p>
          </button>
          <button (click)="takePhoto()" class="btn btn-outline-secondary flex mx-2">
            <i class="bi bi-camera"></i>
            <p class="d-none d-md-block">Take Photo</p>
          </button>
          <button (click)="choosePhoto()" class="btn btn-outline-secondary flex mx-2">
            <i class="bi bi-card-image"></i>
            <p class="d-none d-md-block">choose Photo</p>
          </button>
      </div>
    </div>
  </div>

  <div class="photoContainer d-flex align-items-center justify-content-center" *ngIf="takePhotoClick">
    <div class="container" >
      <div class="row">
        <div class="col-12 text-center mt-2">
          <img #imageDisplay class="img-fluid">
        </div>
        <div class="col-12 mt-4">
          <form [formGroup]="postForm" (ngSubmit)="onContinue()">
            <div class="container text-center">
              <mat-form-field class="inputStyle">
                <textarea matInput placeholder="Description" formControlName="description"></textarea>
              </mat-form-field>
            </div>
            <div class="container text-center">
              <button (click)=" onBack()" class="btn btn-outline-secondary  mx-2">
                Back
              </button>
              <button type="submit" class="btn btn-outline-secondary  mx-2">
                Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
