.imgProfil {
  width: 90px;
  height: 90px;
  object-fit: cover;
  background-size: cover;

  @media (min-width: 425px) {
    width: 100px;
    height: 100px;
  }
}

.colProfil {
  height: 12vh;
}
.colMessenger {
  height: 55vh;
  @media screen and (min-width: 768px) {
    height: 60vh;
  }

  .messenger {
    touch-action: pan-y !important;
    max-height: auto;
    overflow-y: scroll;
    input {
      border: none;
      background: none;
      &:focus {
        border: none;
        outline: none !important;
      }
    }
    .btn {
      text-decoration: underline;
      &:focus {
        outline: none;
        box-shadow: none;
        border: none;
      }
    }

    .messengerChild {
      touch-action: pan-y !important;
    }
  }
}

// .messenger::-webkit-scrollbar {
//   display: none;
// }

.bulle {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 3px;
}
