i {
  font-size: 1.5rem;
  margin: 5px;
}
.dropdownSearch {
  position: absolute;
  top: 55px;
}

.text-dark {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  @media (min-width: 425px) {
    letter-spacing: 0.3rem;
  }
}

.navbar {
  .navbar-brand {
    display: flex;
    align-items: center;
    @media (max-width: 767.98px) {
      display: none;
    }
  }

  .navbarContent {
    display: flex;
    flex-grow: 1;
    .dropdown-menu {
      margin-left: -105px;
      margin-top: 12px;
    }

    .navbar-nav {
      @media (max-width: 767.98px) {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
    }
  }
  @media (max-width: 767.98px) {
    width: 100%;
    bottom: 0;
    z-index: 99999;
    position: fixed;
    justify-content: center;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
