<div class="h-100 d-flex align-items-center justify-content-center">
      <div class="row text-center">
          <div class="col-12 card p-3">
              <H4>Instaclo</H4>
              <div class="formGroup">
                  <input type="text" class="formControl" placeholder="Username" [(ngModel)]="email" required>
              </div>
              <div class="formGroup">
                  <input type="password" class="formControl" placeholder="Password" [(ngModel)]="password" required>
              </div>
              <p *ngIf="errorMessage !== ''">{{ errorMessage }}</p>
              <div>
                  <div class="btn btn-sm btn-primary" (click)="login()">Se connecter</div>
              </div>
              <div>
                  --------- ou ---------
              </div>
              <!-- <div class="formGroup">
                  <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                      <i class="bi bi-google"></i> Log in with Google
                  </button>
              </div> -->
              <div class="forgotPassword">
                  <span routerLink="/forgot-password">Forgot Password?</span>
              </div>
          </div>
          <div class="col-12 card mt-3 p-3">
              <div class="redirectToLogin">
                  <span>Don't have an account?<span class="redirect" routerLink="/sign-up"> Sign Up</span></span>
              </div>
          </div>
      </div>
  </div>
