<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="row text-center mainRow">
    <div class="colCard col-12 p-3">
      <div class="row py-4">
        <div class="col-12 mb-4">
          <h1 class="iconLock"><i class="bi bi-shield-lock"></i></h1>
        </div>
        <div class="col-12">
          <h4>Problèmes de connexion ?</h4>
          <br>
          <p class="textInfo">
            Entrez votre adresse e-mail et nous vous enverrons un lien pour récupérer votre compte.
          </p>
        </div>
        <div class="col-12 mb-2 d-flex justify-content-center">
          <div class="formGroup">
            <input type="email" class="formControl" placeholder="E-mail" #passwordResetEmail required>
          </div>
        </div>
        <div class="col-12 mb-2 d-flex justify-content-center">
          <input type="submit" class="btn btn-primary btnReset" value="Envoyer un lien de connexion"
            (click)="authenticationService.ForgotPassword(passwordResetEmail.value)">
        </div>
        <div class="my-2">
          ou
        </div>
        <div class="createAccount">
          <span class="redirect" routerLink="/sign-up">Créer un compte</span>
        </div>
      </div>
    </div>
    <div class="colCardSecond col-12 mt-3 p-3">
      <span class="redirect" routerLink="/login"> Revenir à l'écran de connexion</span>
    </div>
  </div>
</div>
