/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "@angular/material/theming";

$my-app-primary: mat-palette($mat-blue-grey);
$my-typography: mat-typography-config(
  $font-family: "'Poppins', sans-serif",
);
@include mat-core($my-typography);

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

.main {
  position: absolute;
  height: 100%;
}

.custom-dialog-comment-container {
  max-width: none !important;
  height: 90vh;
  width: 100vw;
  position: fixed !important;
  top: 0;

  @media screen and (min-width: 375px) {
  }
  @media screen and (min-width: 425px) {
  }
  @media screen and (min-width: 500px) {
    height: auto;
    width: auto;
    position: static !important;;
    width: 450px;
  }
}

.custom-dialog-qr-code-container {
  max-width: none !important;
  text-align: center;
}


$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent: mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}
